name: Build and deploy ASP.Net Core app to Azure Web App - Tandas-Seguras-Y-Transparentes

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore TANDAS-PARATODOS.sln

      - name: Build
        run: dotnet build TANDAS-PARATODOS.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish TANDAS-PARATODOS.sln -c Release -o "${{ github.workspace }}/publish" --no-build

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: ${{ github.workspace }}/publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A1978664B29647509997508EBC4F165D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EAF51B36A4AE4A5F966E18CEF1E433C4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B6B23E7C878B44208111CA131EAA7D44 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Tandas-Seguras-Y-Transparentes'
          slot-name: 'Production'
          package: .
